.layout {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
    background: url(../../assets/img/bg-img.png), linear-gradient(45deg,var(--color-brand--1), var(--color-brand--2));
    background-position: center;
    background-size: cover;
    display: flex;
    gap: 1rem;
}