form{
    border: 0.2rem solid #aaaaaa8a;
    border-radius: 2rem;
    background-image: linear-gradient(135deg,rgba(255, 255, 255, 0),rgba(138, 138, 138, 0.26));
    backdrop-filter: blur(0.2rem);
    gap:0.1rem;
    padding:2rem 2rem;
    display:flex;
    flex-direction:column;
    margin-top: 1rem;
    color:var(--color-white)
}
.formInput{
    font-size: 1.5rem;
    background:linear-gradient(-45deg, var(--active-bg-1), var(--color-brand--1));
    backdrop-filter: blur(0.2rem);
    border: 0.2rem solid #aaaaaa8a;
    border-radius: 1rem;
    outline: none;
    color: var(--color-brand--4);
    padding: 0.5rem 1.5rem;
    margin-bottom: 1rem;
}